
p {
  font-weight: bold;
}

#container {
  width: 500px;
  margin: 30px auto 0 auto;
}

#form_box {
  border: black solid 2px;
  padding: 10px 10px 0 10px;
}

#form_box input {
  border: black solid 2px;
  display: block;
}

#info_box {
  border: black solid 2px;
  padding: 10px;
  margin-top: 20px;
}

#info_box p {
  border-bottom: 1px solid gray;
}

.hidden{
  display: none;
}

.error {
  color: red;
}